<app-header></app-header>
<div class="container-fluid container-stack">
    <div class="row">
        <div class="col-12">
            <!-- <div  id="cesiumContainer" class="simulation-panel">
            </div> -->
            <div class="actions-panel">
                <mat-card>
                    <mat-card-content>
                        <div class="row row-cols-2 mt-1">
                            <div class="col">
                                <mat-form-field>
                                    <mat-label class="missions-dropdown-box"><b>Missions</b></mat-label>
                                    <mat-select matNativeControl required [(ngModel)]="selectedMission" (ngModelChange)="startVisualisation()">
                                        <mat-option value="bioCarbon">BIO Carbon</mat-option>
                                        <mat-option value="rapidArray">RAPID Array virtual mooring</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            @if(showDeploymentsList){
                            <div class="col">
                                <mat-form-field>
                                    <mat-label class="deployments-dropdown-box"><b>Deployments</b></mat-label>
                                    <mat-select matNativeControl required [(ngModel)]="selectedDeployment" (ngModelChange)="startVisualisation()">
                                        <mat-option value="deployment646">Deployment 645</mat-option>
                                        <mat-option value="deployment646">Deployment 646</mat-option>
                                        <mat-option value="deployment648">Deployment 648</mat-option>
                                        <mat-option value="deployment649">Deployment 649</mat-option>
                                        <mat-option value="deployment650">Deployment 650</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            }
                        </div>
                        <div class="row mt-1 metrics-panel">
                            <app-metric-chart [selectedMission]="selectedMission"></app-metric-chart>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="metrics-panel">
            </div>
        </div>
    </div>
</div>