.main-panel {
  font-size: 11px;
}

mat-slider {
  width: 100px;
}

.container-stack {
  position: relative;
}

.actions-panel {
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 2; 
  width: 31%;
  min-width: 365px;
}

.simulation-panel {
   background-color: #f0f0f0;
   padding: 0.5rem;
   border: 1px solid #ddd;
   height: 70vh;
}

.metrics-panel {
  position: relative;
  top: 5px;
  left: 9rem;
  z-index: 6; 
  width: 85vw;
  min-width: 365px;
}

.missions-dropdown-box {
  margin-right: 2.1rem;
}

.deployments-dropdown-box {
  margin-right: 0.3rem;
}