// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";


// Then import Bootstrap

@import "../node_modules/@angular/material/prebuilt-themes/azure-blue.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
// The import cesium styles
@import "../node_modules/cesium/Build/Cesium/Widgets/widgets.css";
@import "../node_modules/cesium/Build/Cesium/Widgets/lighter.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
